<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <title>
      {% if title and title != 'Home' %}{{ title }} - {% endif %}{{ config.siteTitle }}
    </title>

    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" href="/images/x16-favicon.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/images/x32-favicon.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/images/x64-favicon.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/images/x256-favicon.png" sizes="256x256" />
    <link rel="apple-touch-icon" type="image/png" href="/images/x256-favicon.png" />

    <!-- Meta -->
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Facebook -->
    <meta property="og:title" content="{% if (title != 'Home') %}{{ title }} - {% endif %}{{ config.siteTitle }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta property="og:url" content="{{ config.url }}{{ page.url }}">
    <meta property="og:image" content="{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{ card }}">
    <meta name="twitter:site" content="{{ twitter }}">
    <meta name="twitter:title" content="{% if (title != 'Home') %}{{ title }} - {% endif %}{{ config.siteTitle }}">
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="twitter:creator" content="{{ twitter }}">
    <meta name="twitter:image" content="{{ config.url }}{{ page.url }}">
    <meta name="twitter:domain" content="{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">
  </head>

  <body>
    {% include "navigation.njk" %}

    <header class="bg-gradient-to-br from-green-900 to-green-600">
      <h1 class="pt-16 md:pt-24 px-4 text-center">
        <span class="text-4xl md:text-8xl font-bold leading-none text-white px-4">
          Meko Deli &amp; Grocery
        </span>
      </h1>
      <h2 class="py-6 pb-16 md:py-20 text-xl md:text-3xl font-bold text-center text-green-100 px-4 uppercase">
        {{ config.siteTitle }}
      </h2>
    </header>

    <div class="bg-green-900 text-white">
      <div class=" flex justify-between mx-auto p-4 text-sm md:text-lg font-medium">
        <p class="flex items-center md:font-bold">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2 font-bold hidden md:inline-block">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
</svg>

          <a href="/contact" class="text-white font-bold cursor-pointer">1510 Sunset Ave, Utica, NY 13502
</a>
        </p>
        <p class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4  mr-2 text-white hidden md:inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
          </svg>
          <a href="tel:3158643000" class="text-white font-bold">(315) 864-3000</a>
        </p>
      </div>
    </div>

    <div class="max-w-6xl mx-auto">
      {{ content | safe }}
    </div>

<div class="w-full bg-gradient-to-br from-green-900 to-green-600 mb-20 text-white">
    <section class="my-20 px-4 py-10 max-w-6xl mx-auto">
<div class="grid md:grid-cols-2 mx-auto text-lg px-4 gap-10">
	<div class="py-20 text-center">
    
  	<p class="text-2xl md:text-4xl font-bold my-10">1510 Sunset Ave</p>
    <p class="text-2xl md:text-4xl font-bold my-10">Utica, NY 13502</p>
         <a href="tel:3158643269">
    <button class="bg-green-600 text-xl text-white font-semibold py-2 px-4 rounded inline-flex items-center hover:ring-4 hover:ring-green-200 mx-auto">
 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-2">
  <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
</svg>

 Call Now
</button>
</a>


	</div>
	<div>

	<div class="aspect-w-16 aspect-h-16  ">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.4683140605543!2d-75.25332128735577!3d43.09467217101379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9412c82300b43%3A0x511eb16189f5fd1a!2s1510%20Sunset%20Ave%2C%20Utica%2C%20NY%2013502!5e0!3m2!1sen!2sus!4v1725992985766!5m2!1sen!2sus"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	</div>
</div>
</section>

</div>
<footer class="mt-0 mb-10 text-center text-base text-gray-500">
      <p class="pt-1 text-sm">All content &copy; Meko Deli & Grocery Inc.</p>
    </footer>
  </body>
</html>
